server {
    listen 80;
    server_tokens off;
    server_name 24.102.91.82;

    location / {
        proxy_pass http://localhost:8000;
    }

    location /static {
        alias /home/pi/home-server/server/static;
    }
}
